body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.top {
    height:75px;
    text-align:center;
    background-color:aqua;
}

.body {
    margin-top:20px;
    background-color:darkgray;
}

.body-container {
    height:600px;
    width:100%;
    display:inline-block;
}

._Sidebar {
    float:left;
    display:inline-block;
    background-color:aqua;
    width:20%;
    margin:auto 5px;
}

._Content {
    float:left;
    display:inline-block;
    background-color:aqua;
    width:75%;
    margin:auto 5px;
}


fieldset {
    width:65%;
    display:inline-block;
}

.photo {
    width:30%;
    display:inline-block;
}

ul li {
    background-color:aliceblue;
    padding:2px 3px;
    margin:2px;
    border:solid 1px yellow;
    border-radius:10px;
}

.logout {
    background-color:aliceblue;
    border:none;
}

div.login {
    text-align:center;
}

.login fieldset {
    width:35%;
    background-color:aqua
}

.login legend {
    background-color:aquamarine
}

.login span {
    display:inline-block;
    width:60px;
}

.row {
    overflow: hidden;
}
.col {
    padding-bottom: 100%;
    margin-bottom: -100%;
}

td {
    border: solid black 1px;
}
