@using proje_obs
@model List<AcilanDersler>
@{
    ViewBag.Title = "DersSecme";
}

<h2>DersSecme</h2>

@foreach (var ders in Model)
{
    if (((List<AcilanDersler>)Session["secilmis"]).Contains(ders))
    {
        continue;
    }
    using (Html.BeginForm("DersSecme", "Ogrenci"))
    {
        <div>@ders.DersAdi</div>
        <input type="hidden" value="@ders.ADId" name="dersId" />
        <input type="submit" value="ekle"/>
    }
}

<h2>Seçilenler:</h2>
@{
    List<AcilanDersler> SecilmisOlanlar = (List<AcilanDersler>)Session["secilmis"];
    foreach (AcilanDersler secilmis in SecilmisOlanlar)
    {
        using (Html.BeginForm("DersSecme", "Ogrenci"))
        {
            <div>@secilmis.DersAdi</div>
            <input type="hidden" value="@secilmis.ADId" name="dersId" />
            <input type="submit" value="ekle" />
        }
    }
    using (Html.BeginForm("DersSecimKaydet", "Ogrenci"))
    {
        <!--server tarafında viewbagdekileri dbye kaydet, controller'da-->
        <input type="submit" value="Kaydet" />
    }
}