@using proje_obs
@model Ogrenci
@{
    ViewBag.Title = "SinavSonuclarimiGor";
}


<h2>SinavSonuclarimiGor</h2>

@{
    Ogrenci o = Model;
    HashSet<Kayit> kayitlar = (HashSet<Kayit>)o.kayitlar;
    int y = int.Parse(o.AktifKayitDonemi.Substring(0, 1));
    var kayitlar1 = kayitlar.Where(a => a.AcilanDers.YariYil == y || a.AcilanDers.YariYil == y - 1).ToList();
    <a href="/Ogrenci">Anasayfa</a>
    <table>
    <thead>
        <tr>
            <td>Ders Adı</td>
            <td>Vize</td>
            <td>Final</td>
            <td>But</td>
        </tr>
    </thead>
    @foreach (var k in kayitlar1)
    {

        using (Html.BeginForm("SinavSonuclarimiGor", "Ogrenci"))
        {
            <tr>
                <td>
                    <div>@k.AcilanDers.DersAdi</div>
                </td>
                <td>
                    <div>@k.not.Vize</div>
                </td>
                <td>
                    <div>@k.not.Final</div>
                </td>
                <td>
                    <div>@k.not.But</div>
                </td>
            </tr>
        }
    }
    </table>
}
