
@{
    ViewBag.Title = "Index";
}
<div class="login">
    <fieldset>
        <legend>Ana menu</legend>
        <a href="/Ogrenci/Index">Ogrenci girisi</a><br />
        <a href="/OgretimElemani/Index">Ogretim elemani girisi</a><br />
        <a href="/idari/Index">idari personel girisi</a><br />
    </fieldset>
</div>
