
@{
    ViewBag.Title = "Index";
}
<div class="login">
    <fieldset>
        <legend>Ana menü</legend>
        @Html.ActionLink("Öğrenci girişi", "Index", "Ogrenci")<br />
        @Html.ActionLink("Öğretim elemanı girişi", "Index", "OgretimElemani")<br />
        @Html.ActionLink("İdari personel girişi", "Index", "idari")<br />
    </fieldset>
</div>
