
@{
    ViewBag.Title = "DersEklemeTarihiBelirle";
}

<h2>DersEklemeTarihiBelirle</h2>

@using (Html.BeginForm("DersEklemeTarihiBelirle", "idari"))
{
    <span>Başlangıç:</span><input type="text" name="baslangic"/><br />
    <span>Bitiş:</span><input type="text" name="bitis"/><br />
    <input type="submit" />
}