
@{
    ViewBag.Title = "DersSecmeTarihiBelirle";
}

<h2>DersSecmeTarihiBelirle</h2>

@using (Html.BeginForm("DersSecmeTarihiBelirle", "idari"))
{
    <span>Başlangıç:</span><input type="text" name="baslangic"/><br />
    <span>Bitiş:</span><input type="text" name="bitis"/><br />
    <input type="submit" />
}