@using proje_obs
@model List<DersSorumlulari>
@using System.Text
@{
    ViewBag.Title = "DersSorumlusuListele";
}

<h2>DersSorumlusuListele</h2>

<table>
    @foreach (DersSorumlulari ds in Model)
    {
        
        <tr>
            <td>@ds.AkademisyenID</td>
            <td>@ds.Adi</td>
            <td>@ds.Soyadi</td>
            <td>@ds.Unvani</td>

            <td><a href="/idari/DersSorumlusuSil?hocaId=@ds.AkademisyenID">DersSorumlusu silme</a></td>
        </tr>
        
    }
</table>
<a href="/idari/DersSorumlusuEkle">DersSorumlusu ekle</a>