@model proje_obs.Idari

@{
    ViewBag.Title = "Login";
}
<div class="login">
    <fieldset>
        <legend>İdari girişi</legend>
        <form action="/idari/Login" method="post">
            <span>Id:</span><input type="text" name="Id" /><br />
            <span>Şifre:</span><input type="password" name="Password" /><br />
            <input type="submit" value="Giriş yap" /><br />
            <a href="/Home">Ana sayfaya dön</a>
        </form>
    </fieldset>
</div>