@using proje_obs
@model List<Ogrenci>
    @using System.Text
@{
    ViewBag.Title = "OgrenciListele";
}

<h2>OgrenciListele</h2>

<table>
    @foreach(Ogrenci o in Model)
    {
        <tr>
            <td>@Encoding.UTF8.GetString(Encoding.Default.GetBytes(o.Ad + " " + o.Soyad))</td>
            <td>@o.OgrenciNo</td>
            <td>@o.DanismanId</td>
            <td><a href="/idari/OgrenciSil?ogrenciId=@o.OgrenciNo"</td>
        </tr>
    }
</table>
<a href="/idari/OgrenciEkle">Öğrenci ekle</a>