
@{
    ViewBag.Title = "TarihleriBelirle";
}

<h2>TarihleriBelirle</h2>

<table>
    <tr>
        <td>Ders açma başlangıç:</td>
        <td><input type="text" name="dersAcmaBaslangic" /></td>
    </tr>
    <tr>
        <td>Ders açma bitiş:</td>
        <td><input type="text" name="dersAcmaBitis"/></td>
    </tr>
    <tr>
        <td>Ders seçme başlangıç:</td>
        <td><input type="text" name="dersSecmeBaslangic"/></td>
    </tr>
    <tr>
        <td>Ders seçme bitiş:</td>
        <td><input type="text" name="dersSecmeBitis"/></td>
    </tr>
    <tr>
        <td>

        </td>
        <td><input type="submit" value="Kaydet" /></td>
    </tr>
</table>