@using proje_obs
@model List<AcilanDersler>

@{
    ViewBag.Title = "BaskaSenekiDerslerimiGor";
}

<h2>BaskaSenekiDerslerimiGor</h2>

@foreach(AcilanDersler acilanDers in Model)
{
    <!--Ders bilgileri, kaç kişi alıyor vb.. viewbagden gelir artık. belki dersi alan öğrencilerin listesi-->
}