@using proje_obs
@model Tuple<Ogrenci,List<Kayit>>
@{
    ViewBag.Title = "DersSecmeTalebiniIncele";
}

<h2>DersSecmeTalebiniIncele</h2>

@{
    Ogrenci o = Model.Item1;

    using (Html.BeginForm("DersSecmeTalebiniOnayla", "OgretimElemani"))
    {
        <span>Ogrenci adı: @o.Ad</span><br />
        foreach (var kayit in Model.Item2)
        {
            <!--Kayıt bilgilerini göster bilmemne--><br />
        }
        <input type="hidden" value="@o.OgrenciNo" name="OgrenciNo"/>
        <input type="submit" value="Onayla" />
    }
}