@using proje_obs
@model Dictionary<Ogrenci, List<Kayit>>
@{
    ViewBag.Title = "DersSecmeTalepleriniGor";
}

<h2>DersSecmeTalepleriniGor</h2>

@{
    foreach (KeyValuePair<Ogrenci, List<Kayit>> pair in Model)
    {
        <a href="/OgretimElemani/DersSecmeTalebiniIncele/@pair.Key.OgrenciNo">İncele</a><br />
        @*using (Html.BeginForm("DersSecmeTalebiniOnayla","OgretimElemani"))
        {
            <input type="hidden" value="" />
            <input type="submit" value="Onayla"/>
        }*@
    }
}