@using proje_obs
@model Dictionary<Ogrenci, List<Kayit>>
@{
    ViewBag.Title = "DersSecmeTalepleriniGor";
}

<h2>DersSecmeTalepleriniGor</h2>

@{
    foreach (KeyValuePair<Ogrenci, List<Kayit>> pair in Model)
    {
        <!--öğrenci bilgileri, kayıt listesi eleman sayısı-->
        <a href="/OgretimElemani/DersSecmeTalebiniIncele?ogrenciId=@pair.Key.OgrenciNo">İncele</a><br />
    }
}