@using proje_obs
@model Tuple<Ogrenci, List<Kayit>>
@{
    ViewBag.Title = "DersSecmeTalebiniIncele";
}

<h2>DersSecmeTalebiniIncele</h2>
@{Ogrenci o = Model.Item1; }
<fieldset>
    <legend>Öğrenci adı: @o.Ad</legend>
    @{
        
        <table>
            <tr>
                <td>adı</td>
                <td>ders kodu</td>
                <td>ogrenci no</td>
            </tr>
            @foreach (var kayit in Model.Item2)
            {
                if(kayit.OnaylandiMi == true)
                {
                    continue;
                }
            <tr>
                <td>@kayit.AcilanDers.DersAdi</td>
                <td>@kayit.AcilanDers.DersKodu</td>
                <td>@kayit.OgrenciNo</td>
            </tr>
            }
        </table>
        <a href="/OgretimElemani/DersSecmeTalebiniOnayla?ogrenciNo=@o.OgrenciNo">Onayla</a>
    }
</fieldset>