@using proje_obs
@model List<Dersler>
@{
    ViewBag.Title = "DersEklemeTalebi";
}

<h2>DersEklemeTalebi</h2>

<table>
    @using (Html.BeginForm("DersEklemeTalebi", "OgretimElemani"))
    {
        <tr>
            <td>Ders Kodu</td>
            <td>Ders Adı</td>
            <td>Yarıyıl</td>
            <td>Ders yılı</td>
            <td></td>
        </tr>
        <tr>
            <td>
                <select name="DersKodu">
                    @foreach (Dersler ders in Model)
                    {
                        <option value="@ders.DersKodu">@ders.DersAdi</option>
                    }
                </select>
            </td>
            <td>
                <input type="text" name="DersAdı" />
            </td>
            <td>
                <input type="text" name="Yariyil" />
            </td>
            <td>
                <input type="text" name="YilDers" />
            </td>
            <td>
                <input type="submit" value="gönder" />
            </td>
        </tr>

    }
</table>