@model proje_obs.DersSorumlulari
@using System.Text
<fieldset>
    <legend>Öğretmen Bilgileri</legend>
    <table>
        <tr>
            <td>ID</td>
            <td>@Model.AkademisyenID</td>
        </tr>
        <tr>
            <td>Adı Soyadı</td>
            <td>@(Model.Adi + " " + Model.Soyadi)</td>
        </tr>
        <tr>
            <td>Telefonu</td>
            <td>@(Model.Telefonu)</td>
        </tr>
        <tr>
            <td>Maili</td>
            <td>@(Model.Maili)</td>
        </tr>

    </table>
</fieldset>
<div class="photo">
    <!--<img style="width:100%" src="_Storage.ReturnUrl(User.Identity.Name + ".jpg")" alt="henüz foto yüklenmemiş" />-->
</div>