@model DersSorumlulari
<div class="row">
    <div class="sidebar-left col">
        &nbsp;
        <ul>
            <li>
                <a>Dersleri görüntüle</a>
            </li>
            <li>
                <a>Sınav sonucu gir</a>
            </li>
            <li>
                <a>Devamsızlık bilgisi gir</a>
            </li>
            <li>
                <a>Danışmanı olduğu öğrencileri görüntüle</a>
            </li>
            <li>
                <a>Ders not ağırlığı düzenle</a>
            </li>
            <li>
                <a>Mesaj at</a>
            </li>
            <li>
                <a>Proje alan öğrenciler</a>
            </li>
            <li>
                <a href="/OgretimElemani/UploadProfilePicture">Fotoğraf ekle</a>
            </li>
            <li>
                <a>Şifreni değiştir</a>
            </li>
            <li>
                @using (Html.BeginForm("Logout", "OgretimElemani", FormMethod.Post))
            {
                    <input class="logout" type="submit" value="Çıkış yap" />
                }
            </li>
        </ul>
    </div>
    <div class="center col">
        &nbsp;
        @using (Html.BeginForm("UploadProfilePicture", "OgretimElemani", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="file" />
            <input type="submit" value="Yükle" />
        }
    </div>
    <div class="sidebar-right col">
        &nbsp;
    </div>
</div>

@{
    ViewBag.Title = "UploadPicture";
}

<h2>UploadPicture</h2>


